
<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">

<title>日付計算アプリ</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="..static/index.css"
	th:href="@{/index.css}">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<form method="POST" th:action="@{/calcu}">
		<div class="main">
			<h3>計算の基準となる日付を入力してください。</h3>
				<div class="form-group">
					<input type="text" th:field="${ReferenceDateForm.ReferenceDate}" placeholder="2020-01-01">
					<p th:if="${#fields.hasErrors('ReferenceDateForm.ReferenceDate')}" th:errors="${ReferenceDateForm.ReferenceDate}"></p>
				</div>
		</div>
		<div class="button">
			  	<input type="submit" value="計算実行">
			<a href="/register">
				<button type="button" class="btn btn btn-danger btn-sm active">新規登録</button>
			</a>
		</div>
	</form>

	<div class="table">
		<table class="table table-hover">
			<tr>
				<th>No.</th>
				<th>日付ID</th>
				<th>日付名</th>
				<th>計算結果</th>
				<th> 計算式</th>
				<th>編集</th>
			</tr>

				<tr th:each="dateFormula,stat :${results}">
				<th th:text="${stat.count}"></th>
				<td th:text="${dateFormula.dateId}"></td>
				<td th:text="${dateFormula.dateName}"></td>
				<td th:text="${dateFormula.calculated}"></td>
				<td th:text="${dateFormula.ymdFormula}"></td>

				<td id="edit">
				 <a th:href="@{/{dateId}/edit(dateId=${dateFormula.dateId})}">更新</a>
					<form th:action="@{/{dateId}(dateId=${dateFormula.dateId})}" th:method="POST">
						<input type="submit" value="削除">
					</form></td>
			</tr>

		</table>
	</div>

</body>
</html>